{% extends '@DreamCommerceShopAppstore/base.html.twig' %}
{% trans_default_domain 'messages' %}
{% block body %}
    <main class="rwd-layout-container rwd-layout-width">
        <section class="rwd-layout-col-12">
            <div class="l-flex l-box-10 l-column-rwd">
                <h1>{{ "locked.app"|trans }}</h1>
            </div>
        </section>
    </main>
{% endblock %}
